   <sebm-google-map class="content mdl-grid--no-spacing"
                [latitude]="newLocation.latitude"
                [longitude]="newLocation.longitude"
                (mapClick)="mapClicked($event)"> 
    <sebm-google-map-marker 
         [latitude]="newLocation.latitude"
        [longitude]="newLocation.longitude">
      </sebm-google-map-marker>              
  </sebm-google-map>
  <div class="template__preview mdl-cell mdl-cell--4-col">
    <main class="mdl-layout__content">
      <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
          <h2 class="mdl-card__title-text">Add new location</h2>
        </div>
        
          				<form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
          <div>
            <span>Location Name: </span>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="name" name="name" #name [(ngModel)]="newLocation.name">
              <label class="mdl-textfield__label" for="name">Enter name...</label>
            </div>
          </div>

          <div>
            <span>Latitude: </span>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" name="latitude" id="latitude" readonly [(ngModel)]="newLocation.latitude">
              <label class="mdl-textfield__label" for="latitude">Enter latitude...</label>
            </div>
          </div>

          <div>
            <span>Longitude: </span>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="longitude" name="longitude" readonly [(ngModel)]="newLocation.longitude" >
              <label class="mdl-textfield__label" for="longitude">Enter longtide...</label>
            </div>
          </div>

          <!--<div>
            <span>Image: </span>
            <div class="mdl-textfield mdl-js-textfield">-->
              <!--<input class="mdl-textfield__input" type="file" id="image" name="imageUrl">-->
            <!--</div>
          </div>-->

          <div>
            <span>Site: </span>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="site" name="siteName" [(ngModel)]="siteName">
              <label class="mdl-textfield__label" for="site">Enter site name...</label>
            </div>
          </div>

          <div class="mdl-card__actions mdl-card--border form-group">
            <div *ngIf="loading" class="mdl-spinner mdl-js-spinner is-active"></div>
            <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" >Submit</button>
            <button type="button" (click)="cancel()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cancel</button>
          </div>
        </form>
      </div>
    </main>
  </div>