<div id="formContainer">
    <h3>Share your feedback or send a request</h3>
    <form>
        <p><span>Email address: </span><input id="emailAddress" /></p>
        <p>
            <span>Select category: </span><select>
                <option value="feedback">Feedback</option>
                <option value="technicalIssues">Technical issues</option>
                <option value="itemRequest">Request for new item</option>
            </select>
        </p>
        <p><span>Request: </span></p>
        <p><textarea rows="4" cols="50"></textarea></p>
    </form>
</div>
