<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a class="mdl-navigation__link" [routerLink]="['/home']" [routerLinkActive]="['current-route']"><img src="assets/images/ic_home_white_24dp_1x.png"/> {{title}}</a>
    <app-nav-menu></app-nav-menu>
    <div class="mdl-layout-spacer"></div>
      <a *ngIf="!existingUser" class="mdl-navigation__link" [routerLink]="['/register']" [routerLinkActive]="['current-route']">Register</a>
      <a *ngIf="!existingUser" class="mdl-navigation__link" [routerLink]="['/login']" [routerLinkActive]="['current-route']">Login</a>
    <div *ngIf="existingUser">
    <span [routerLink]="['/userprofile']" [routerLinkActive]="['current-route']">Hello {{this.existingUser.username}}</span>
      <button (click)="logout()" [routerLink]="['/home']" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Logout
      </button>
    </div>
  </div>
</header>