#gallery{
  width:720px;
  height:400px;
  overflow:hidden;
  border-radius:15px;
}

#gallery .slides{
    display:block;
    width:6000px;
    height:400px;
    margin:0;
    padding:0;
}

#gallery .slide{
    float:left;
    list-style-type:none;
    width:720px;
    height:400px;
}

#gallery img{
  width:720px;
  height:400px;
}