<nav class="mdl-navigation">
     <a class="mdl-navigation__link" [routerLink]="links.logs" [routerLinkActive]="['current-route']">My Logs</a>
     <a class="mdl-navigation__link" [routerLink]="links.locations" [routerLinkActive]="['current-route']">Locations</a>
    <a class="mdl-navigation__link" [routerLink]="links.applogs" [routerLinkActive]="['current-route']">All Logs</a>
    <a class="mdl-navigation__link" [routerLink]="['/contactus']" [routerLinkActive]="['current-route']">Contact us</a>
</nav>