<nav class="mdl-navigation">
     <a class="mdl-navigation__link" [routerLink]="links.logs" [routerLinkActive]="['current-route']">Logs</a>
     <a class="mdl-navigation__link" [routerLink]="links.locations" [routerLinkActive]="['current-route']">Locations</a>
    <a class="mdl-navigation__link" [routerLink]="links.items" [routerLinkActive]="['current-route']">Items</a>
    <a class="mdl-navigation__link" [routerLink]="links.otherItems" [routerLinkActive]="['current-route']">Other Items (auth)</a>
    <a class="mdl-navigation__link" [routerLink]="['/contactus']" [routerLinkActive]="['current-route']">Contact us</a>
</nav>