<p><span>Add new location</span><button [routerLink]="['/addlocations']" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">+</i>
</button></p>
<h4>Dive Locations</h4>
<div>
<div class="mdl-grid mdl-grid--no-spacing" style="background-color:oldlace" *ngFor="let l of locations">
       <div style="color:midnightblue; font:bold" class="mdl-cell mdl-cell--2-col">
          <a href="/locationDetail/{{l._id}}">{{ l.name || "Unknown"}}
          </a>
       </div>
        <div class="mdl-cell mdl-cell--2-col">&nbsp;Latitude: {{l.latitude}}</div>
        <div class="mdl-cell mdl-cell--2-col">&nbsp;Latitude: {{l.longitude}}</div>
        <span *ngFor="let imageUrl of l.imageUrls">
         <img src="{{imageUrl}}" style="width: 200px; height:190px;" />
       </span>
</div>
</div>