.locationGridItem {
    border: 5px solid purple;
}

.sebm-google-map-container {
       height: 300px;
       width: 300px;
}

div.container {
    padding-left: 20%;
}

div.dropdown-and-map {
    display: inline-block;
}

.custom {
    display: inline-block;
    vertical-align: top;
}