/* You can add global styles to this file, and also import other style files */

.current-route {
    border-bottom: 3px solid deeppink;
    text-transform: uppercase;
    font-weight: bold;
    color: deeppink !important;
}